<h1 class="display-4 text-center">Overview</h1>
<hr/>

<h2>About Malmo</h2>
<p>Project Malmo sets out to address these core research challenges, addressing them by integrating (deep) reinforcement learning, cognitive science, and many ideas from artificial intelligence.</p>
<p>The Malmo platform is a sophisticated AI experimentation platform built on top of Minecraft, and designed to support fundamental research in artificial intelligence.</p>
<p class="mt-4">Malmo, Microsoft : <a href="https://www.microsoft.com/en-us/research/project/project-malmo/" target="_blank">https://www.microsoft.com/en-us/research/project/project-malmo/</a></p>
<p>Github : <a href="https://github.com/microsoft/malmo" target="_blank">https://github.com/microsoft/malmo</a></p>

<hr/>

<h2>Team Members</h2>
<p>Minhyeong Joe</p>
<p>Heejin Kang</p>
<p>Sanghoon Kim</p>
