<h1 class="display-4 text-center">Project Proposal</h1>
<p class="text-muted text-center">By 1/28/2020</p>
<p class="text-muted text-center">Appointment with Instructor: 1/30/2020 12:30 PM</p>
<hr/>

<h2>Summary of the Project </h2>
<p class="text-muted">In a paragraph mention the main idea behind your project. Focus on the problem setup, not the solution, i.e. what is your goal? At the very least, you should have a sentence that clearly explains the input/output semantics of your project, i.e. what information will it take as input, and what will it produce. Mention any applications, if any, for your project.</p>
<p class="mt-2">We want to rebuild the good old DOS game Pac-Man into 3D view in Minecraft. Pac-Man has a very simple rule: eat dots without getting caught. This is a very straightforward rule for Reinforcement Learning agent - there is a very distinguished reward. Our general idea/ultimate goal is to have our agent run around the maze and pick up as many rewards (such as diamond) without getting caught by monsters. Since the original Pac-Man was in 2D, it is reasonable for our agent to be aware of a bird-view of the entire maze (along with locations of rewards and enemies, just as players of Pac-Man). So the input to the agent would be the entire environment. The AI program terminates when agent picks up all rewards or agent dies. At this termination, the agent will report its total rewards (calculated based on how many diamonds it picked up and how many moves the agent made) and its survival time.</p>

<hr/>

<h2>Evaluation Plan</h2>
<!-- Delete the instruction once completed-->
<p class="text-muted">Mention how you will evaluate the success of your project. In a paragraph, focus on the quantitative evaluation: what are the metrics, what are the baselines, by how much you expect your approach to improve the metric, what data will you evaluate on, etc. In another paragraph, describe what qualitative analysis you will show to verify the project works, such as what are the sanity cases for the approach, how will you visualize the internals of the algorithm to verify it works, what’s your moonshot case, i.e. it’ll be awesome and impressive if you get there. Note that these are not promises, we’re not going to hold you to what you say here, but we want to see if you are able to think about evaluation of your project in a critical manner.</p>
<p class="mt-2">The agent will be evaluated on total rewards and the survival time. The number of diamonds picked up by the agent will be the major factor in total rewards. The survival time measures the time elapsed from the start of the Pac-Man until the agent is caught by the enemy and dies. We will first improve the survival time so the agent can be evasive, then we will focus on the total rewards to improve the agent's overall performance. The agent will be made smarter by not making unnecessary moves, and this quality will be enforced by a negative consequence to total rewards for each agent's move. This way, the agent will not only strive to survive and pick up as many diamonds, but also make the best moves to achieve that goal.</p>
<p>At Minimum Goal stage, the agent will peacefully pick up diamonds with no enemies, so the total elapsed time should be minimum and total rewards should be maximum with little to no unnecessary moves, and after some runs, the agents should be consistent in these metrics as the diamonds have fixed positions. At Realistic Goal, the agent will now pick up diamonds while evading the enemies. First goal is to maximize the survival time, and keep the agent away from the enemies. Next, the agent will take optimized path to pick up more diamonds on the way of evading the enemies. For Ambitious Goal, we would like to add weapon to a few locations of the maze and let agent subdue the enemy for short period time using the weapon. So the agent will not simply run away from enemies, but it will sometimes make better choice to pick up the weapon and charge toward enemies if it maximizes total rewards.</p>

<hr/>

<h2>Goals</h2>
<!-- Delete the instruction once completed-->
<p class="text-muted">Next pick 3 goals. The first goal is the minimum goal. This is the minimum your project should achieve to pass the course. The second goal is the realistic goal, this is a goal you will likely achieve during the course and should provide some interesting results. The third goal is the ambitious one, this would provide you awesome results but would be difficult to achieve. For reference think of how goals are described in crowdfunding projects like Kickstarter.</p>
<ol>
  <strong><li>Minimum Goal - No Enemy</li></strong>
    <ol>
      <li>Pick up diamonds scattered in wilderness with no walls</li>
      <li>Pick up diamonds in the maze</li>
    </ol>
  <strong><li>Realistic Goal - Flight Or Flight</li></strong>
    <ol>
      <li>Survive as long as possible in the maze filled with some chasing enemies</li>
      <li>Pick the route that has more rewards while evading from enemies</li>
    </ol>
  <strong><li>Ambitious Goal - Fight Back</li></strong>
    <ol>
      <li>Pick up weapons at some locations and temporarily subdue the enemies</li>
    </ol>
</ol>
