<h1 class="display-4 text-center">Project Proposal</h1>
<p class="text-muted text-center">By 1/28/2020</p>
<p class="text-muted text-center">Appointment with Instructor: 1/30/2020 12:30 PM</p>
<hr/>

<h2>Summary of the Project </h2>
<!-- Delete the instruction once completed-->
<p class="text-muted">In a paragraph mention the main idea behind your project. Focus on the problem setup, not the solution, i.e. what is your goal? At the very least, you should have a sentence that clearly explains the input/output semantics of your project, i.e. what information will it take as input, and what will it produce. Mention any applications, if any, for your project.</p>
<p class="mt-2">Response goes here</p>
<p>In case of extra stuffs</p>

<hr/>

<h2>Evaluation Plan</h2>
<!-- Delete the instruction once completed-->
<p class="text-muted">Mention how you will evaluate the success of your project. In a paragraph, focus on the quantitative evaluation: what are the metrics, what are the baselines, by how much you expect your approach to improve the metric, what data will you evaluate on, etc. In another paragraph, describe what qualitative analysis you will show to verify the project works, such as what are the sanity cases for the approach, how will you visualize the internals of the algorithm to verify it works, what’s your moonshot case, i.e. it’ll be awesome and impressive if you get there. Note that these are not promises, we’re not going to hold you to what you say here, but we want to see if you are able to think about evaluation of your project in a critical manner.</p>
<p class="mt-2">Response goes here</p>
<p>In case of extra stuffs</p>

<hr/>

<h2>Goals</h2>
<!-- Delete the instruction once completed-->
<p class="text-muted">Next pick 3 goals. The first goal is the minimum goal. This is the minimum your project should achieve to pass the course. The second goal is the realistic goal, this is a goal you will likely achieve during the course and should provide some interesting results. The third goal is the ambitious one, this would provide you awesome results but would be difficult to achieve. For reference think of how goals are described in crowdfunding projects like Kickstarter.</p>
<p class="mt-2">Response goes here</p>
<p>In case of extra stuffs</p>
